<h2><%= @page.name %></h2>
<p><%= @page.about %></p>
<form action="/pages/<%= @page.id %>/posts/new" method='get'>
    <input type='submit' value='Create Post'>
</form>
<br>

<% @page.posts.each do |post| %>
    <h4><a href="/pages/<%= @page.id %>/posts/<%= post.id %>"><%= post.title %></a></h4>
    <p><%= post.content %></p>
<% end %>

<form action="/pages/<%= @page.id %>/leave" method='get'>
    <input type='submit' value='Leave Page'>
</form><br>

<% if current_user.admin || UserPage.find_by(page_id: params[:id], user_id: current_user.id).mod %>
    <form action="/pages/<%= @page.id %>/delete" method='get'>
        <input id='hidden' type='hidden' name='_method' value='delete'>
        <input type='submit' value='Delete Page'>
    </form>
<% end %>