<h2><a href="../../<%= @page.id %>"><%= @page.name %></a></h2>
<h3><%= @post.title %></h3>
<h4>Posted By: <a href="/users/<%= @post.user.id %>"><%= @post.user.username %></a></h4>
<p><%= @post.content %></p>

<% if @post.user == current_user %>
    <form action="/pages/<%= @page.id %>/posts/<%= @post.id %>/edit" method='get'>
        <input type='submit' value='Edit Post'>
    </form>
<% end %>
<br>

<% if @post.user == current_user || UserPage.find_by(user_id: current_user.id, page_id: @page.id).mod || current_user.admin %>
    <form action="/pages/<%= @page.id %>/posts/<%= @post.id %>/delete" method='get'>
        <input type='submit' value='Delete Post'>
    </form>
<% end %>